# Normalise toutes les fins de ligne en LF dans le repo
* text=auto eol=lf

# Binaires — pas de conversion
*.uf2    binary
*.elf    binary
*.bin    binary
*.a      binary
*.o      binary
*.png    binary
*.jpg    binary
*.pdf    binary
*.drawio binary
